asn1crypto==0.24.0
attrs==17.4.0
Automat==0.6.0
backports.functools-lru-cache==1.4
backports.shutil-get-terminal-size==1.0.0
beautifulsoup4==4.6.0
blinker==1.4
chardet==3.0.4
click==6.7
colorama==0.3.7
constantly==15.1.0
cryptography==2.1.4
cycler==0.10.0
decorator==4.1.2
defer==1.0.6
dirspec==13.10
duplicity==0.7.17
enum34==1.1.6
fasteners==0.12.0
Flask==0.12.2
futures==3.2.0
greenlet==0.4.12
html5lib==0.999999999
httplib2==0.9.2
hyperlink==17.3.1
idna==2.6
incremental==16.10.1
ipaddress==1.0.17
ipython==5.5.0
ipython-genutils==0.2.0
itsdangerous==0.24
Jinja2==2.10
keyring==10.6.0
keyrings.alt==3.0
lockfile==0.12.2
lxml==4.2.1
MarkupSafe==1.0
matplotlib==2.1.1
mercurial==4.5.3
monotonic==1.0
msgpack==0.5.6
neovim==0.2.0
numpy==1.13.3
oauthlib==2.0.6
olefile==0.45.1
PAM==0.4.2
pathlib2==2.3.0
pexpect==4.2.1
pickleshare==0.7.4
Pillow==5.1.0
piston-mini-client==0.7.5
prompt-toolkit==1.0.15
pyasn1==0.4.2
pyasn1-modules==0.2.1
pycairo==1.16.2
pychecker==0.8.19
pycrypto==2.6.1
pycups==1.9.73
pycurl==7.43.0.1
pygame===1.9.1release
Pygments==2.2.0
pygobject==3.26.1
pyinotify==0.9.6
PyJWT==1.5.3
Pymacs==0.25
pymongo==3.4.0
pyOpenSSL==17.5.0
pyparsing==2.2.0
pyserial==3.4
pysmbc==1.0.15.6
python-apt==1.6.3
python-dateutil==2.6.1
python-debian==0.1.32
pytz==2018.3
pyxdg==0.25
reportlab==3.4.0
rope==0.10.5
ropemacs==0.8
ropemode==0.4
scandir==1.7
SecretStorage==2.3.1
service-identity==16.0.0
simplegeneric==0.8.1
simplejson==3.13.2
six==1.11.0
software-center-aptd-plugins==0.0.0
subprocess32==3.2.7
traitlets==4.3.2
trollius==2.0.1
Twisted==17.9.0
unity-lens-photos==1.0
virtualenv==15.1.0
wcwidth==0.1.7
webencodings==0.5
Werkzeug==0.14.1
zope.interface==4.3.2
