.login{
    margin-left:10px;
    margin-bottom: 5px;
    width:120px;
 height:50px;
 text-align:center;
 line-height:1.1em;
 font-size:1.1em;

}

.epic_fail {
 color:red;
}

.epic_win {
    color:lime;
}