.login {
    margin-left: 10px;
    margin-bottom: 5px;
    width: 120px;
    height: 50px;
    text-align: center;
    line-height: 1.1em;
    font-size: 1.1em;

}

.epic_fail {
    color: #721c24;
    background-color: #f8d7da;
    border-color: #f5c6cb;
}

.epic_win {
    color: #155724;
    background-color: #d4edda;
    border-color: #c3e6cb;

}

.epic_logout {
    color: #004085;
    background-color: #cce5ff;
    border-color: #b8daff;
}

#encapsule {
    padding-top: 20px;
}

table {
    border: none;
}

#rightside {
    text-align: left
}

#leftside {
    text-align: right
}

#attribution {
    color: #279640
}

button {
    color: #007bff;
    background-color: transparent;
    background-repeat: no-repeat;
    border: none;
    cursor: pointer;
    overflow: hidden;
    outline: none;
    padding: 10px;
    border-color: transparent;
    outline-color: transparent;
}

button:hover {
    border-color: transparent;
    outline-color: transparent;
    background-color: #35e879;
}

.btn:hover {
    border-color: transparent;
    outline-color: transparent;
    background-color: #35e879;
}

.footer {
    position: relative;
    margin-top: -150px; /* negative value of footer height */
    height: 150px;
    clear: both;
    padding-top: 20px;
}

.pad {
    padding: 25px;
}

.spad {
    padding: 10px;
}

.mpad {
    padding: 15px;
}

.block {
    border-color: transparent;
    outline-color: transparent;
    background-color: #007bff;
    display: block;
    width: 100%;
    cursor: pointer;
    text-align: center;
}

.block:hover {
    border-color: transparent;
    outline-color: transparent;
    background-color: #35e879;
}

.flipping {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 150px;
    height:500px;
    -moz-user-select: -moz-none;
   -khtml-user-select: none;
   -webkit-user-select: none;

   /*
     Introduced in IE 10.
     See http://ie.microsoft.com/testdrive/HTML5/msUserSelect/
   */
   -ms-user-select: none;
   user-select: none;
    /*padding-top: 300px;*/
}

.flipping:hover {
    background-color: #007bff;
    outline-color: transparent;
    color: white;
    cursor: pointer;
    /*padding-top: 300px;*/
}