{% extends "base.html" %}
{% block title %}Contact Information{% endblock %}
{% block body %}
    <h2 class="section-heading">Contact Information</h2>
    <hr class="primary">
    <p style = "padding:5px;">Hi! You can email team azrael with any queries you may have about this website using the contact info left
        below.</p>
    <p></p>
    <div class="container" style = "padding:15px;">
        <div class="row">
            <div class="col-lg-4 col-md-4 col-sm-4  text-center">
                <i class="fa fa-phone fa-3x"></i>
                <p>+1-347-881-8099</p>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-4 text-center">
                <i class="fa fa-envelope-o fa-3x " data-wow-delay=".1s"></i>
                <p><a href="mailto:mhowader@stuy.edu">mhowlader@stuy.com</a></p>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-4 text-center">
                <i class="fa fa-address-card fa-3x" aria-hidden="true"></i>
                <p>345 Chambers St, New York, NY 10282<br>Room 251</p>
            </div>
        </div>
    </div>
{% endblock %}