{% extends "base.html" %}
{% block title %}Create Quiz {{ qid }}{% endblock %}

{% block body %}
<h1>Create new sets to study from!</h1>
<br>
<form action="/create_auth" method="POST">
    <b>
        <div class="form-group">
            <label for="title">Title</label>
            <input name="title" class="form-control" id="title" aria-describedby="title"
            placeholder="Title" required>
        </div>
        <div id="termcontainer" class="container" style="padding:5px;">

            <div class="row">
                <div class="col-6 text-center">
                    {#                        <div class="form-group">#}
                        {#                            <label for="term0">Term</label>#}
                        <input name="term0" class="form-control" id="term0"
                        placeholder="Term"
                        required>
                        <!-- TO DO : !!!!!! IMPLEMENT DELETING TERMS -->
                        {#                        </div>#}
                </div>
                <div class="col-6  text-center">
                        {#                        <div class="form-group">#}
                            {#                            <label for="def0">Definition</label>#}
                            <input name="def0" class="form-control" id="def0"
                            placeholder="Definition"
                            required>
                            {#                        </div>#}
                </div>
            </div>
        </div>

    </b>
    <div class="col-lg-12 col-md-12 col-sm-12 text-center">
        <button id="add" type="button" class="btn btn-primary mpad block">Add More Cards</button>
    </div>
    <div style="padding-top: 15px;">
        <input type="submit" name="submit" class="btn btn-primary spad" value="Create">
    </div>
    <input id="count" type="hidden" name="count" value = 1>
</form>
{#    <script type=”text/javscript”>#}
    {#    var count = {{ count }}#}
    {#    #}
    {#    </script>#}
    <script src="../static/card.js"></script>

{% endblock %}
