{% extends "base.html" %}
{% block title %}Edit Set: {{ quizname }}{% endblock %}

{% block body %}
Editing Set: {{ quizname }}
<form action="/edit_auth" method="POST">
    <b>
        <div class="form-group">
            <label for="title">Title</label>
            <input name="title" class="form-control" id="title" aria-describedby="title"
                   value="{{ qname }}" required>
        </div>
        <div id="termcontainer" class="container" style="padding:5px;">

        </div>

    </b>
    <div class="col-lg-12 col-md-12 col-sm-12 text-center">
        <button id="add" type="button" class="btn btn-primary mpad block">Add More Cards</button>
    </div>
    <div style="padding-top: 15px;">
        <input type="submit" name="submit" class="btn btn-primary spad" value="Edit">
    </div>
    <input id="count" type="hidden" name="count" value= {{ lenset }}>
</form>
{#    <script type=”text/javscript”>#}
{#    var count = {{ count }}#}
{#    #}
{#    </script>#}
<script>
    var things = {{info|tojson|safe}};
    var terms = Object.keys(things);
    var defs = Object.values(things);
    var length = terms.length;

    {#THIS IS FOR GETTING ELEMENTS#}
    var countbox = document.getElementById("count");
var count = Number(countbox.getAttribute("value"));
    //console.log(count);
    var cont = document.getElementById("termcontainer");
    //console.log(cont);
    var makecell = (type, i) => {
        var top = document.createElement("div");
        top.classList.add("col-6", "text-center");
        var ele = document.createElement("input");
        var typecount = type + i;
        ele.id = typecount;
        ele.name = typecount;
        ele.classList.add("form-control");
        var ph;
        if (type == "term") {
            ph = terms[i];
        }
        else {
            ph = defs[i];
        }
        ele.value = ph;
        top.appendChild(ele);
        return top;
    };
console.log(terms);
console.log(def);
    for (var i = 0; i < count; i++) {
        var newrow = document.createElement("div");
        newrow.classList.add("row");
        var term = makecell("term", i);
        var def = makecell("def", i);
        newrow.appendChild(term);
        newrow.appendChild(def);
        console.log("-----");
        console.log(i);
        console.log(terms[i]);
        console.log(defs[i]);
        cont.appendChild(newrow);
    }

</script>
<script src="/static/card.js"></script>

{% endblock %}
