#encapsule {
    padding-top: 20px;
}
table {
    border: none;
}


#rightside {
    text-align: left
}
#leftside {
    text-align: right
}
#attribution {
    color: #279640
}
button {
    color: #000000;
    background-color: transparent;
    background-repeat: no-repeat;
    border: none;
    cursor: pointer;
    overflow: hidden;
    outline: none;
    padding-bottom: 10px;
}



.footer {
  position: relative;
  margin-top: -150px; /* negative value of footer height */
  height: 150px;
  clear:both;
  padding-top:20px;
}
