{% extends "base.html" %}

{% block title %}home{% endblock %}
{% block body %}
    <h1>home!</h1>
    <div class="jumbotron my-3">
        <h2>What is Testlet?</h2>
        <p>Testlet is a studying aid which mimics some of the core functionality of similar "index card"-style
            programs, most notably, Quizlet. As of now, we have made the decisions to make our services exclusively
            available to our members. Anyone can register an account for free.</p>
    </div>
    <div>


{% endblock %}
