
{% extends "base.html" %}

{% block title %}register{% endblock %}
{% block body %}
    <h1> register here!</h1>
<form action="/auth" method="POST">

    <b>
         Username: <input type = "text" name = "username" placeholder = "user" required>
         <br><br>
         Password: <input type = "password" name = "password" placeholder = "password" required>
        <br><br>
        Confirm Password: <input type = "password" name = "confirm-password" placeholder = "password" required>
    </b>
    <br><br>
    <input type="submit" name="submit" value = "register">
    <br><br>
  </form>


{% endblock %}
