{% extends "base.html" %}
<!-- fix this when jack adds the fx -->
{% block title %}View Old Sets{% endblock %}
{% block body %}
<h1> These are the your created sets.</h1>

    <div class="container">
        <div class="row" style="padding-top:5px">

            <div class="col-12 text-center">
                <b> Set Name </b>
            </div>
        </div>
        {% for name,id in quizlist %}
        <div class="row" style="padding-top:5px">
            <div class="col-lg-12 col-md-12 col-sm-12  text-center">
                <a href = "view/{{ id }}" > {{ name }} </a>
            </div>
        </div>
        {% endfor %}
    </div>
{% endblock %}